VITE_FIREBASE_API_KEY=AIzaSyCrdmFkP2eBnQ1XSJbsuKFjoJxxa1EvHeA
VITE_FIREBASE_AUTH_DOMAIN=gator-dator.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gator-dator
VITE_FIREBASE_STORAGE_BUCKET=gator-dator.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=959570382348
VITE_FIREBASE_APP_ID=1:959570382348:web:b5afa40e99d60c699ca829
VITE_FIREBASE_MEASUREMENT_ID=G-61Z6PF4FQF
